.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-image-1 {
  width: 1140px;
  height: 610px;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  width: 681px;
  min-height: 366px;
  height: auto;
  margin: -488px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-image-1 {
    width: 570px;
    height: 503px;
    margin-top: 233px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -456px;
    margin-left: 100px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-image-1 {
    height: 385px;
    margin-top: 0;
    margin-left: 130px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -263px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-image-1 {
    height: 289px;
    margin-top: 233px;
    margin-left: 220px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -438px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-image-1 {
    width: 390px;
    height: 183px;
    margin-top: 0;
    margin-left: -50px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -183px;
    margin-left: -50px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 536px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -68px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 225px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-line-1 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0;
  transform: rotate(360deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 225px;
  margin: 20px auto 30px;
}

.u-section-2 .u-image-1 {
  min-height: 302px;
  background-image: url("images/modelo01.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 302px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  width: 225px;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-line-2 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0;
  transform: rotate(360deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  width: 225px;
  margin: 20px auto 30px;
}

.u-section-2 .u-image-2 {
  min-height: 302px;
  background-image: url("images/modelo02.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 302px;
  background-image: url("images/modelo05.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 302px;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  width: 225px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-line-3 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0;
  transform: rotate(360deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  width: 225px;
  margin: 20px auto 30px;
}

.u-section-2 .u-image-4 {
  min-height: 302px;
  background-image: url("images/modelo04.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 302px;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  width: 225px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-line-4 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0;
  transform: rotate(360deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  width: 225px;
  margin: 20px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    width: 185px;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 45px;
  }

  .u-section-2 .u-text-2 {
    width: 185px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .u-section-2 .u-image-1 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-3 {
    width: 186px;
    margin-top: 23px;
  }

  .u-section-2 .u-line-2 {
    width: 45px;
  }

  .u-section-2 .u-text-4 {
    width: 186px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-image-2 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-3 {
    min-height: 279px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-5 {
    width: 186px;
    margin-top: 23px;
  }

  .u-section-2 .u-line-3 {
    width: 45px;
  }

  .u-section-2 .u-text-6 {
    width: 186px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-image-4 {
    min-height: 279px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-7 {
    width: 186px;
    margin-top: 23px;
  }

  .u-section-2 .u-line-4 {
    width: 45px;
  }

  .u-section-2 .u-text-8 {
    width: 186px;
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 323px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    width: 322px;
    margin-top: 46px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-1 {
    width: 34px;
  }

  .u-section-2 .u-text-2 {
    width: 322px;
    margin-bottom: 25px;
  }

  .u-section-2 .u-image-1 {
    min-height: 361px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 345px;
    order: 2;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 142px;
    margin-top: 78px;
  }

  .u-section-2 .u-line-2 {
    width: 34px;
  }

  .u-section-2 .u-text-4 {
    width: 322px;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 25px;
  }

  .u-section-2 .u-image-2 {
    min-height: 380px;
    order: 3;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-image-3 {
    min-height: 387px;
    order: 1;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 352px;
    order: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 320px;
    margin-top: 19px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-3 {
    width: 34px;
  }

  .u-section-2 .u-text-6 {
    width: 318px;
    margin: 30px 21px 29px;
  }

  .u-section-2 .u-image-4 {
    min-height: 390px;
    order: 2;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 390px;
    order: 3;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-7 {
    width: 318px;
    margin-top: 60px;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-4 {
    width: 34px;
    margin-left: 133px;
  }

  .u-section-2 .u-text-8 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 324px;
    order: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-1 {
    width: 512px;
    margin-top: 25px;
  }

  .u-section-2 .u-line-1 {
    width: 32px;
  }

  .u-section-2 .u-text-2 {
    font-style: normal;
    width: 512px;
  }

  .u-section-2 .u-image-1 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 384px;
    order: 0;
  }

  .u-section-2 .u-text-3 {
    width: 133px;
    margin-top: 35px;
  }

  .u-section-2 .u-line-2 {
    width: 32px;
  }

  .u-section-2 .u-text-4 {
    width: 488px;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-image-2 {
    min-height: 400px;
    order: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-image-3 {
    min-height: 362px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 360px;
  }

  .u-section-2 .u-text-5 {
    width: 492px;
    margin-top: 35px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-line-3 {
    width: 32px;
  }

  .u-section-2 .u-text-6 {
    width: 491px;
    margin: 20px 25px 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 387px;
    order: 3;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 379px;
    order: 2;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: 491px;
    margin-top: 35px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-line-4 {
    width: 32px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: 499px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2789px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -365px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    width: 322px;
  }

  .u-section-2 .u-line-1 {
    width: 27px;
  }

  .u-section-2 .u-text-2 {
    width: 322px;
    margin-bottom: 19px;
  }

  .u-section-2 .u-image-1 {
    min-height: 399px;
    order: 1;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 407px;
    order: 2;
  }

  .u-section-2 .u-text-3 {
    width: 112px;
  }

  .u-section-2 .u-line-2 {
    width: 27px;
  }

  .u-section-2 .u-text-4 {
    width: 301px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-2 {
    min-height: 396px;
    order: 3;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-3 {
    min-height: 385px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 405px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-2 .u-text-5 {
    width: 299px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-3 {
    width: 27px;
  }

  .u-section-2 .u-text-6 {
    width: 300px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 386px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    width: 299px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-4 {
    width: 27px;
  }

  .u-section-2 .u-text-8 {
    width: 301px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 35px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 758px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 70px auto -88px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 618px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 43px;
  padding-right: 51px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-3 .u-line-1 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px 365px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 618px;
  background-image: none;
}

.u-section-3 .u-shape-1 {
  height: 479px;
  width: 479px;
  background-image: none;
  margin: 75px auto 0 0;
}

.u-section-3 .u-shape-2 {
  height: 453px;
  width: 462px;
  background-image: none;
  margin: -391px 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 525px;
  height: 503px;
  object-position: 80.55% 50%;
  background-position: 80.55% 50%;
  margin: -616px auto 0 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 42px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-line-1 {
    width: 45px;
    margin-right: 301px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 616px;
  }

  .u-section-3 .u-shape-1 {
    width: 395px;
  }

  .u-section-3 .u-shape-2 {
    width: 381px;
  }

  .u-section-3 .u-image-1 {
    width: 433px;
    margin-left: 42px;
    object-position: 50% 50%;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 32px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 50px;
  }

  .u-section-3 .u-line-1 {
    width: 34px;
    margin-right: 231px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-3 .u-shape-1 {
    height: 340px;
    width: 302px;
  }

  .u-section-3 .u-shape-2 {
    height: 315px;
    width: 291px;
    margin-top: -252px;
  }

  .u-section-3 .u-image-1 {
    width: 344px;
    height: 356px;
    object-position: 76.72% 50%;
    background-position: 76.72% 50%;
    margin: -478px 20px 144px auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 24px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 55px;
  }

  .u-section-3 .u-line-1 {
    width: 32px;
    margin-right: 173px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-3 .u-shape-1 {
    height: 479px;
    width: 422px;
  }

  .u-section-3 .u-shape-2 {
    height: 453px;
    width: 422px;
    margin-top: -391px;
  }

  .u-section-3 .u-image-1 {
    width: 446px;
    height: 498px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-top: -616px;
    margin-right: 42px;
    margin-bottom: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 91px;
  }

  .u-section-3 .u-line-1 {
    width: 27px;
    margin-right: 109px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-3 .u-shape-1 {
    height: 390px;
    width: 238px;
  }

  .u-section-3 .u-shape-2 {
    height: 345px;
    width: 229px;
    margin-top: -302px;
  }

  .u-section-3 .u-image-1 {
    width: 280px;
    height: 390px;
    object-position: 69.67% 100%;
    background-position: 69.67% 100%;
    margin-top: -475px;
    margin-right: auto;
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url('images/escovas.jpg');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1298px;
}

.u-section-4 .u-text-1 {
  margin: 26px auto 0 457px;
}

.u-section-4 .u-image-1 {
  width: 647px;
  height: 447px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 32px auto 0 445px;
}

.u-section-4 .u-image-2 {
  width: 867px;
  height: 527px;
  margin: 26px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 377px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 289px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 281px;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 217px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 373px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 211px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 137px;
  }

  .u-section-4 .u-image-1 {
    height: 235px;
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 77px;
  }

  .u-section-4 .u-image-2 {
    height: 207px;
    width: 340px;
    margin-top: 62px;
    margin-right: -12px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url('images/eb2ed1ba-05cd-04e3-ecae-7d80d4432e34.jpg');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 933px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 762px;
  margin: 104px auto 104px 189px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 725px;
}

.u-section-5 .u-group-1 {
  width: 682px;
  min-height: 633px;
  background-image: none;
  margin: 40px auto 51px;
}

.u-section-5 .u-container-layout-2 {
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  line-height: 86px;
  margin: 50px 10px 0;
}

.u-section-5 .u-line-1 {
  width: 51px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 34px 0;
}

.u-section-5 .u-form-1 {
  height: 308px;
  width: 549px;
  margin: 20px auto 65px;
}

.u-section-5 .u-form-group-1 {
  width: 100%;
}

.u-section-5 .u-form-group-2 {
  width: 100%;
}

.u-section-5 .u-form-group-3 {
  width: 100%;
}

.u-section-5 .u-form-group-4 {
  text-align: left;
  width: 100%;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 628px;
    margin-left: 156px;
  }

  .u-section-5 .u-group-1 {
    width: 562px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 42px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 55px;
  }

  .u-section-5 .u-form-1 {
    width: 453px;
    margin-right: 46px;
    margin-left: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 788px;
  }

  .u-section-5 .u-group-1 {
    width: 643px;
    margin-top: 45px;
    margin-bottom: 46px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 32px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 28px;
    margin-left: 28px;
  }

  .u-section-5 .u-form-1 {
    width: 556px;
    margin: 50px auto 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 104px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 462px;
    margin-top: 46px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 85px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 30px;
    margin-left: 205px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-5 .u-form-1 {
    width: 407px;
    margin-top: 39px;
    margin-bottom: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -399px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 307px;
    margin-top: 106px;
    margin-right: 8px;
    margin-bottom: -52px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    line-height: 1;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-line-1 {
    width: 25px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-5 .u-form-1 {
    width: 273px;
    margin-top: 20px;
    margin-bottom: 70px;
  }
}